In [1]:
import pandas as pd

ufo = pd.read_csv('https://github.com/cocaineteddybear/data/blob/2341df4b8a91411191c11652deba5c5ef15d0c23/olympics.csv')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [3]:
ufo.shape

(18241, 5)

In [13]:
turkce_sutun_isimleri = ['Sehir','Renk','Sekil','Eyalet','Zaman']
ufo.columns = turkce_sutun_isimleri
ufo

ValueError: Length mismatch: Expected axis has 2 elements, new values have 5 elements

ValueError: Length mismatch: Expected axis has 2 elements, new values have 5 elements

In [12]:
ufo

      State              Time
0        NY    6/1/1930 22:00
1        NJ   6/30/1930 20:00
2        CO   2/15/1931 14:00
3        KS    6/1/1931 13:00
4        NY   4/18/1933 19:00
5        ND   9/15/1934 15:30
6        CA    6/15/1935 0:00
7        MI    7/15/1936 0:00
8        AK  10/15/1936 17:00
9        OR    6/15/1937 0:00
10       CA   8/15/1937 21:00
11       AL    6/1/1939 20:00
12       SC   6/30/1939 20:00
13       IA     7/7/1939 2:00
14       MI    6/1/1941 13:00
15       CA    7/2/1941 11:30
16       CA    2/25/1942 0:00
17       GA    6/1/1942 22:30
18       TN    7/15/1942 1:00
19       AK   4/30/1943 23:00
20       NE    6/1/1943 15:00
21       LA    8/15/1943 0:00
22       LA    8/15/1943 0:00
23       KY  10/15/1943 11:00
24       WV    1/1/1944 10:00
25       CA    1/1/1944 12:00
26       WV    1/1/1944 12:00
27       NM    4/2/1944 11:00
28       NM    6/1/1944 12:00
29       UT   6/30/1944 10:00
...     ...               ...
18211    MA  12/28/2000 18:00
18212    CA  12/28/2000 18:20
18213    CA  12/28/2000 19:10
18214    TX   12/29/2000 0:00
18215    TX   12/29/2000 9:00
18216    CA  12/29/2000 16:10
18217    CO  12/29/2000 19:30
18218    TX  12/29/2000 20:00
18219    CA  12/29/2000 20:30
18220    CA  12/29/2000 20:30
18221    NH  12/29/2000 20:50
18222    PA  12/29/2000 21:00
18223    SC  12/29/2000 22:00
18224    OK  12/29/2000 23:30
18225    CA  12/30/2000 10:00
18226    CA  12/30/2000 22:00
18227    CA  12/30/2000 22:00
18228    TX   12/31/2000 4:00
18229    IL  12/31/2000 11:45
18230    CA  12/31/2000 20:00
18231    CA  12/31/2000 20:00
18232    WI  12/31/2000 20:30
18233    AK  12/31/2000 21:00
18234    CA  12/31/2000 22:00
18235    AZ  12/31/2000 23:00
18236    IL  12/31/2000 23:00
18237    IA  12/31/2000 23:00
18238    WI  12/31/2000 23:45
18239    WI  12/31/2000 23:45
18240    FL  12/31/2000 23:59

[18241 rows x 2 columns]

In [15]:
sutun_ısım=['sehir','renk']
ufo.columns= sutun_ısım
ufo

      sehir              renk
0        NY    6/1/1930 22:00
1        NJ   6/30/1930 20:00
2        CO   2/15/1931 14:00
3        KS    6/1/1931 13:00
4        NY   4/18/1933 19:00
5        ND   9/15/1934 15:30
6        CA    6/15/1935 0:00
7        MI    7/15/1936 0:00
8        AK  10/15/1936 17:00
9        OR    6/15/1937 0:00
10       CA   8/15/1937 21:00
11       AL    6/1/1939 20:00
12       SC   6/30/1939 20:00
13       IA     7/7/1939 2:00
14       MI    6/1/1941 13:00
15       CA    7/2/1941 11:30
16       CA    2/25/1942 0:00
17       GA    6/1/1942 22:30
18       TN    7/15/1942 1:00
19       AK   4/30/1943 23:00
20       NE    6/1/1943 15:00
21       LA    8/15/1943 0:00
22       LA    8/15/1943 0:00
23       KY  10/15/1943 11:00
24       WV    1/1/1944 10:00
25       CA    1/1/1944 12:00
26       WV    1/1/1944 12:00
27       NM    4/2/1944 11:00
28       NM    6/1/1944 12:00
29       UT   6/30/1944 10:00
...     ...               ...
18211    MA  12/28/2000 18:00
18212    CA  12/28/2000 18:20
18213    CA  12/28/2000 19:10
18214    TX   12/29/2000 0:00
18215    TX   12/29/2000 9:00
18216    CA  12/29/2000 16:10
18217    CO  12/29/2000 19:30
18218    TX  12/29/2000 20:00
18219    CA  12/29/2000 20:30
18220    CA  12/29/2000 20:30
18221    NH  12/29/2000 20:50
18222    PA  12/29/2000 21:00
18223    SC  12/29/2000 22:00
18224    OK  12/29/2000 23:30
18225    CA  12/30/2000 10:00
18226    CA  12/30/2000 22:00
18227    CA  12/30/2000 22:00
18228    TX   12/31/2000 4:00
18229    IL  12/31/2000 11:45
18230    CA  12/31/2000 20:00
18231    CA  12/31/2000 20:00
18232    WI  12/31/2000 20:30
18233    AK  12/31/2000 21:00
18234    CA  12/31/2000 22:00
18235    AZ  12/31/2000 23:00
18236    IL  12/31/2000 23:00
18237    IA  12/31/2000 23:00
18238    WI  12/31/2000 23:45
18239    WI  12/31/2000 23:45
18240    FL  12/31/2000 23:59

[18241 rows x 2 columns]

In [16]:
ufo.head()

  sehir             renk
0    NY   6/1/1930 22:00
1    NJ  6/30/1930 20:00
2    CO  2/15/1931 14:00
3    KS   6/1/1931 13:00
4    NY  4/18/1933 19:00

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv('PozisyonSeviyeMaas.csv')
dataset

FileNotFoundError: File b'PozisyonSeviyeMaas.csv' does not exist

In [6]:
import pandas as pd

oly = pd.read_csv('https://github.com/cocaineteddybear/data/blob/2341df4b8a91411191c11652deba5c5ef15d0c23/olympics.csv')
oly.head()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 31, saw 3

In [7]:
import pandas as ps
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
df.head()

FileNotFoundError: File b'olympics.csv' does not exist